html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;

  color: #ffffff;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.title {
  flex: 1;
}

.title h2 {
  font-size: 18px;
  color: white;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}


.subtitle p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}

/* Nav */

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
  justify-content: left;
  margin-top: 35px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #ccc;
}

.nav_title {
  display: flex;
}

.nav_menu a {
  color: rgb(255, 255, 255);
  text-decoration: none; 
}

.nav_menu a:hover {
  color: red;
  text-decoration: underline;
}

.nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-start;
  gap: 15px;
  margin-top: 35px;
  list-style: none;
  font-size: 24px;
}

/* Footer */

.footer {
  margin-top: 40px;
  text-align: center;
  padding-top: 20px;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.social-icons {
  margin-bottom: 10px;
}

.footer a {
  margin: 0 10px;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 25px;
}